{
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "test": "./test"
        }
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
