{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "test": "./test"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": true,
      "retainLines": true
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
